.blogs-wrapper {
  width: 90%;
  padding: 20px 10px;
}

.blogs-title {
  color: #92217a;
  margin-right: 15px;
  font-weight: 800;
}

.blogs-subtitle {
  color: #92217a;
  font-weight: 750;
}

@media (max-width: 425px) {
  .desc {
    font-size: 10px;
  }

  .blogs-heading {
    display: inline-block;
  }
}
